@import "../globalVariables.scss";

.main {
  width: 100%;
  background-color: rgb(165, 91, 42);
  text-align: center;
  margin-top: 50px;
  padding-bottom: 50px;

  @include breackpoint(lg) {
    display: none;
  }

  p {
    color: white;
    font-size: large;
    padding-top: 40px;
  }

  .circles {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    margin-top: 50px;
    justify-content: space-between;

    .item {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      gap: 15px;

      .circle {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background-color: white;
      }

      .college {
        color: white;
        font-size: 15px;
        font-weight: 100;
      }
    }
  }

  .circle {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: space-evenly;

    .item {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      gap: 15px;

      .circle {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background-color: white;
      }

      .college {
        color: white;
        font-size: 15px;
        font-weight: 100;
      }
    }
  }
}