.wrapper {
  width: 100%;
  z-index: 999;
  .box {
    width: 210px;
    height: 150px;
    margin: 0 auto;
    background-color: rgb(65, 36, 36);
    border: 2px solid white;
  }

  h2 {
    width: 210px;
    margin: 10px auto;
    font-size: medium;
    color: black;
    font-weight: bold;
  }
}