@import "../globalVariables.scss";

.main {
  background-image: url('../../../public/images/main.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 130vh;
  @include breackpoint(lg) {
    height: 90vh;
  }
  @include breackpoint(sm) {
    height: 70vh;
  }
}