.wrapper{
  display: flex;
  width: 90%;
  gap: 10px;
  height: 70px;
  .box{
    background-color: rgb(92, 57, 57);
    width: 100px;
  }
  .title{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    p{
      font-size: 10px;
      color: black;
      font-weight: 600;
    }
    div{
      display: flex;
      align-items: center;
      justify-content: space-between;
      p{
        font-size: 9px;
      }
      span{
        font-size: 10px;
      }
    }
  }
}