.wrapper {
  width: 80%;
  margin: 0 auto;

  .slick-slider {
    width: 100%;
    margin-bottom: 50px;

    img {
      margin: 0;
      padding: 0;
      height: 40%;
      width: 30px;
      z-index: 1;
    }

    .slick-list {
      width: 100%;

      .slick-track {
        width: 100%;

      }
    }
  }
}